Repository aspirity-inc/easydev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check --loglevel warn {staged_files}

added documentation folder
  documentation/.gitignore
  documentation/.vscode/extensions.json
  documentation/.vscode/launch.json
  documentation/README.md
  documentation/astro.config.mjs
  documentation/package.json
  documentation/pnpm-lock.yaml
  documentation/public/favicon.svg
  documentation/src/assets/houston.webp
  documentation/src/content/config.ts
  documentation/src/content/docs/index.mdx
  documentation/src/env.d.ts
  documentation/tsconfig.json
Due: eslint, prettier

EASY-1093 Added datepicker input
  package-lock.json
  package.json
  src/core/Datepicker/Datepicker.stories.tsx
  src/core/Datepicker/Datepicker.tsx
  src/core/Datepicker/index.ts
  src/core/Datepicker/styles.ts
  src/index.ts
Due: eslint, prettier

add CSSProperties
  src/core/Space/styles.ts
  src/core/Typography/types.ts
Due: eslint, prettier

add Toggle to common import
  src/core/Controls/ControlWithLabel/ControlWithLabel.stories.tsx
Due: eslint, prettier

fixes
  documentation/astro.config.mjs
  documentation/src/content/docs/index.mdx
Due: prettier

EASY-1093 Delete unnecessary function
  src/core/Datepicker/Datepicker.tsx
Due: eslint, prettier

added styles
  documentation/astro.config.mjs
  documentation/src/assets/easydev-logo.svg
  documentation/src/assets/houston.webp
  documentation/src/content/docs/index.mdx
  documentation/src/styles/custom.css
Due: prettier

create dockerfile
  documentation/Dockerfile
  documentation/nginx/default.conf
Due: prettier

EASY-1091 Added datepicker
  src/core/Datepicker/CustomContainer/index.tsx
  src/core/Datepicker/CustomContainer/styles.ts
  src/core/Datepicker/CustomHeader/index.tsx
  src/core/Datepicker/CustomHeader/styles.ts
  src/core/Datepicker/CustomInput/index.tsx
  src/core/Datepicker/CustomInput/styles.ts
  src/core/Datepicker/Datepicker.stories.tsx
  src/core/Datepicker/Datepicker.tsx
  src/core/Datepicker/styles.ts
  src/core/Typography/Subtitle/styles.ts
Due: eslint, prettier

add colors and themes doc
  documentation/src/content/docs/documentation/colors-and-themes.md
  documentation/src/content/docs/index.mdx
Due: prettier

fixes
  documentation/src/content/docs/theming/index.md
Due: prettier

fix link
  documentation/src/content/docs/index.mdx
Due: prettier

update docker-compose
  documentation/Dockerfile
  tools/jenkins/deploy/docker-compose.yml
Due: prettier

add info about changing themes
  documentation/src/content/docs/theming/index.md
Due: prettier

change path
  documentation/src/content/docs/index.mdx
Due: prettier

Resources page
  documentation/src/content/docs/resources/index.md
  documentation/src/styles/custom.css
Due: prettier

add introduction
  documentation/src/content/docs/index.mdx
  documentation/src/content/docs/introduction/index.md
Due: prettier

EASY-1091 Fixed styles
  src/core/Datepicker/CustomContainer/index.tsx
  src/core/Datepicker/CustomContent/index.tsx
  src/core/Datepicker/CustomContent/styles.ts
  src/core/Datepicker/CustomInput/styles.ts
  src/core/Datepicker/Datepicker.tsx
  src/core/Datepicker/styles.ts
Due: eslint, prettier

merge with main
  documentation/.astro/types.d.ts
Due: eslint, prettier

fix nginx file
  documentation/nginx/default.conf
  vite.config.ts.timestamp-1691723431156-21117abc86b5c.mjs
Due: prettier

fixes
  documentation/nginx/default.conf
  documentation/src/content/docs/index.mdx
  tools/jenkins/build/DockerFileDocs
  tools/jenkins/build/build-docs.bash
  tools/jenkins/deploy/docker-compose.yml
  vite.config.ts.timestamp-1691723431156-21117abc86b5c.mjs
Due: prettier

fixes
  documentation/.gitignore
  documentation/.vscode/extensions.json
  documentation/.vscode/launch.json
  tools/jenkins/build/build-docs.bash
  tools/jenkins/deploy/docker-compose.yml
Due: prettier

fix nginx path
  tools/jenkins/build/DockerFileDocs
Due: none

fix astro path
  tools/jenkins/build/DockerFileDocs
Due: none

fix paths
  tools/jenkins/build/DockerFileDocs
Due: none

change docker compose
  tools/jenkins/deploy/docker-compose.yml
Due: prettier

fix prefix
  tools/jenkins/deploy/docker-compose.yml
Due: prettier

change astro config
  documentation/astro.config.mjs
Due: prettier

add subpath
  tools/jenkins/build/DockerFileDocs
  tools/nginx/default.conf
Due: prettier

add dubpath in links
  documentation/src/content/docs/index.mdx
Due: prettier

EASY-1091 Fixed code by review
  src/core/Datepicker/Components/Content/index.tsx
  src/core/Datepicker/Components/Content/styles.ts
  src/core/Datepicker/Components/Header/index.tsx
  src/core/Datepicker/Components/Header/styles.ts
  src/core/Datepicker/Components/Input/index.tsx
  src/core/Datepicker/Components/Input/styles.ts
  src/core/Datepicker/CustomHeader/index.tsx
  src/core/Datepicker/Datepicker.tsx
Due: eslint, prettier

EASY-1091 Added index.ts file
  src/core/Datepicker/Components/index.ts
  src/core/Datepicker/Datepicker.tsx
Due: eslint, prettier

EASY-1094 Added datepicker range
  src/core/Datepicker/Components/Content/index.tsx
  src/core/Datepicker/Components/Input/index.tsx
  src/core/Datepicker/Components/Input/styles.ts
  src/core/Datepicker/Datepicker.stories.tsx
  src/core/Datepicker/Datepicker.tsx
  src/core/Datepicker/styles.ts
Due: eslint, prettier

add documentation for components
  documentation/.astro/types.d.ts
  documentation/src/content/docs/components/index.md
  documentation/src/content/docs/index.mdx
Due: eslint, prettier

fix naming
  documentation/src/content/docs/components/index.md
Due: prettier

add pallete
  documentation/src/assets/dark/Error.png
  documentation/src/assets/dark/Links.png
  documentation/src/assets/dark/Primary.png
  documentation/src/assets/dark/Secondary.png
  documentation/src/assets/dark/Success.png
  documentation/src/assets/dark/Surface color.png
  documentation/src/assets/dark/Tretiary.png
  documentation/src/assets/dark/Warning.png
  documentation/src/assets/light/Error.png
  documentation/src/assets/light/Links.png
  documentation/src/assets/light/Primary.png
  documentation/src/assets/light/Secondary.png
  documentation/src/assets/light/Success.png
  documentation/src/assets/light/Surface.png
  documentation/src/assets/light/Tretiary.png
  documentation/src/assets/light/Warning.png
  documentation/src/content/docs/theming/index.md
  documentation/src/content/docs/theming/index.mdx
  documentation/src/styles/custom.css
Due: prettier

delete docs location
  tools/nginx/default.conf
Due: prettier

EASY-1090 added custom theme context and provider
  .storybook/preview.cjs
  .storybook/withTheme.decorator.tsx
  package-lock.json
  package.json
  src/core/Theme/ThemeContext.tsx
  src/core/Theme/helpers/paletteGenerator.ts
  src/core/Theme/index.ts
  src/core/Theme/index.tsx
  src/core/Theme/styles/scrollbar.ts
  src/core/Theme/themes.ts
  src/core/Theme/types.ts
Due: eslint, prettier

start theme context and update git hook
  lefthook.yml
  src/core/Theme/ThemeContext.tsx
Due: eslint, prettier

EASY-1090 run prettier
  src/core/Theme/ThemeContext.tsx
  src/core/Theme/helpers/paletteGenerator.ts
  src/core/Theme/index.ts
  src/core/Theme/styles/scrollbar.ts
  src/core/Theme/themes.ts
  src/core/Theme/types.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.*
