Repository aspirity-inc/easydev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check --loglevel warn {staged_files}

fix build
  src/core/Button/Button.stories.tsx
  src/core/Chip/Chip.stories.tsx
  src/core/Inputs/Input/Input.stories.tsx
  src/core/Inputs/MaskedInput/MaskedInput.stories.tsx
  src/core/Inputs/Textarea/Textarea.stories.tsx
  src/core/Popover/Popover.stories.tsx
  src/core/Progress/Stepper/Stepper.stories.tsx
  src/core/Select/Select.stories.tsx
  src/core/Select/index.ts
Due: eslint, prettier

Fixed styles and props
  src/core/Toasts/StatusIcons/index.tsx
  src/core/Toasts/StatusIcons/styles.ts
  src/core/Toasts/Toast/Toast.tsx
  src/core/Toasts/Toast/styles.ts
  src/core/Toasts/types.ts
Due: eslint, prettier

Change theme tint value
  src/core/Theme/index.tsx
Due: eslint, prettier

fix dockerfile
  Dockerfile
Due: none

Added autoclose prop
  src/core/Toasts/Toast/Toast.stories.tsx
  src/core/Toasts/Toast/Toast.tsx
  src/core/Toasts/types.ts
Due: eslint, prettier

EASY-1082 refactor select and multiselect
  src/core/Select/Components/Clear.tsx
  src/core/Select/Components/Control.tsx
  src/core/Select/Components/DropdownIndicator.tsx
  src/core/Select/Components/MultivalueRemove.tsx
  src/core/Select/Select.stories.tsx
  src/core/Select/Select.tsx
  src/core/Select/styles.ts
  src/core/Select/types.ts
Due: eslint, prettier

EASY-1082 updated type for options
  src/core/Select/Select.stories.tsx
  src/core/Select/types.ts
Due: eslint, prettier

work docker build
  .storybook/main.cjs
  Dockerfile
  docker-compose.yml
  nginx/default.conf
Due: prettier

EASY-1082 added option highlight
  src/core/Select/Components/CustomOption.tsx
  src/core/Select/Select.stories.tsx
  src/core/Select/Select.tsx
  src/core/Select/styles.ts
Due: eslint, prettier

structure change
  tools/jenkins/build/.dockerignore
  tools/jenkins/build/Dockerfile
  tools/jenkins/build/nginx/default.conf
  tools/jenkins/deploy/docker-compose.yml
  tools/local-entry.sh
Due: prettier

add bash scripts
  tools/jenkins/build/Dockerfile
  tools/jenkins/build/build-app.bash
  tools/local-entry.sh
  tools/nginx/default.conf
Due: prettier

fix dockerfile
  tools/jenkins/build/Dockerfile
Due: none

fix select
  src/core/Select/Select.stories.tsx
Due: eslint, prettier

EASY-1088 Added toasts container and positions
  src/core/Toasts/Toast/Toast.stories.tsx
  src/core/Toasts/Toast/Toast.tsx
  src/core/Toasts/Toast/styles.ts
  src/core/Toasts/ToastsContainer/ToastContainer.stories.tsx
  src/core/Toasts/ToastsContainer/ToastsContainer.tsx
  src/core/Toasts/ToastsContainer/index.ts
  src/core/Toasts/ToastsContainer/styles.ts
  src/core/Toasts/ToastsContainer/toastEmitters.ts
  src/core/Toasts/index.ts
  src/core/Toasts/types.ts
Due: eslint, prettier

fix port
  tools/jenkins/build/Dockerfile
Due: none

EASY-1088 Fixed onDelete function
  src/core/Toasts/Toast/Toast.tsx
  src/core/Toasts/ToastsContainer/ToastsContainer.tsx
  src/core/Toasts/types.ts
Due: eslint, prettier

EASY-1082 added async select
  src/core/Select/Components/SearchValueContainer.tsx
  src/core/Select/Components/index.ts
  src/core/Select/Select.stories.tsx
  src/core/Select/Select.tsx
  src/core/Select/styles.ts
Due: eslint, prettier

EASY-1082 added highlight to options refacrot select component and styles
  package-lock.json
  package.json
  src/core/Select/Components/CustomOption.tsx
  src/core/Select/Components/MultivalueSelectedOptions.tsx
  src/core/Select/Components/SearchValueContainer.tsx
  src/core/Select/Components/styles.ts
  src/core/Select/Select.tsx
  src/core/Select/styles.ts
Due: eslint, prettier

add traefik
  tools/jenkins/deploy/docker-compose.yml
Due: prettier

EASY-1082 fixed storybook build errors
  src/core/Select/Select.stories.tsx
  src/core/Select/styles.ts
Due: eslint, prettier

EASY-1088 Added portal for toasts container
  src/core/Toasts/Toast/Toast.stories.tsx
  src/core/Toasts/Toast/Toast.tsx
  src/core/Toasts/ToastsContainer/ToastContainer.stories.tsx
  src/core/Toasts/ToastsContainer/ToastsContainer.tsx
  src/core/Toasts/ToastsContainer/index.ts
  src/core/Toasts/ToastsContainer/toastEmitters.ts
Due: eslint, prettier

EASY-1088 Fixed render toasts container
  src/core/Toasts/ToastsContainer/ToastsContainer.tsx
Due: eslint, prettier

fixes
  tools/jenkins/build/Dockerfile
  tools/jenkins/build/build-app.bash
  tools/jenkins/deploy/docker-compose.yml
  tools/local-entry.sh
Due: prettier

EASY-1080 remove unused comment
  src/core/Select/Select.tsx
Due: eslint, prettier

Dockerfile edited online with Bitbucket
  tools/jenkins/build/Dockerfile
Due: none

build-app.bash edited online with Bitbucket
  tools/jenkins/build/build-app.bash
Due: prettier

Fixed language
  src/core/Breadcrumbs/Breadcrumbs.stories.tsx
  src/core/Button/Button.stories.tsx
  src/core/Inputs/Input/Input.stories.tsx
  src/core/Inputs/MaskedInput/MaskedInput.stories.tsx
  src/core/Inputs/Textarea/Textarea.stories.tsx
  src/core/Popover/Popover.stories.tsx
  src/core/Tabs/TabButton/TabButton.stories.tsx
  src/core/Typography/Title/Title.stories.tsx
Due: eslint, prettier

Fixed storybook build error
  src/core/Button/Button.stories.tsx
  src/core/Chip/Chip.stories.tsx
  src/core/Inputs/Input/Input.stories.tsx
  src/core/Inputs/MaskedInput/MaskedInput.stories.tsx
  src/core/Inputs/Textarea/Textarea.stories.tsx
  src/core/Popover/Popover.stories.tsx
Due: eslint, prettier

Fixed input styles
  src/core/Inputs/Input/styles.ts
  src/core/Inputs/Textarea/styles.ts
  src/core/Inputs/styles.ts
Due: eslint, prettier

fix(package-lock) Fix lock
  package-lock.json
Due: prettier

fix(package-lock) Fix lock
  tools/jenkins/build/Dockerfile
Due: none

copy cx from linaria
  .eslintrc.cjs
  src/core/Box/Box.tsx
  src/core/Controls/Toggle/index.tsx
  src/core/Progress/RangeSlider/RangeSlider.tsx
  src/core/Progress/Stepper/NumericStepper/index.tsx
  src/core/Space/styles.ts
  src/core/Tabs/TabButton/index.tsx
  src/helpers/cx.ts
  tsconfig.json
  vite.config.ts
Due: eslint, prettier

fix tabs
  .eslintrc.cjs
Due: prettier

delete React.CSSProperties"
  src/core/Space/styles.ts
Due: eslint, prettier

add relative paths
  src/core/Controls/Checkbox/index.tsx
  src/core/Controls/ControlWithLabel/ControlWithLabel.stories.tsx
  src/core/Controls/ControlWithLabel/index.tsx
  src/core/Controls/Radio/index.tsx
  src/core/Controls/Toggle/index.tsx
  src/core/Controls/styles.ts
  src/core/Inputs/Input/Input.tsx
  src/core/Inputs/Input/InputIcon/InputIcon.tsx
  src/core/Inputs/Input/InputIcon/InputStatusIcon/index.tsx
  src/core/Inputs/Input/InputIcon/InputStatusIcon/styles.ts
  src/core/Inputs/Input/InputIcon/PasswordToggle/index.tsx
  src/core/Inputs/Input/styles.ts
  src/core/Inputs/MaskedInput/MaskedInput.tsx
  src/core/Inputs/Textarea/Textarea.tsx
  src/core/Inputs/Textarea/styles.ts
  src/core/Inputs/styles.ts
  src/core/Link/Link.tsx
  src/core/Modal/InfoModal/ModalHeader/index.tsx
  src/core/Space/Space.tsx
  src/core/Typography/Subtitle/index.tsx
  src/core/Typography/Text/index.tsx
  src/core/Typography/Title/index.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.*
