Repository aspirity-inc/easydev: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files}

prettier:
  run: npx prettier --check --loglevel warn {staged_files}

Fixed exports
  src/core/Toasts/index.ts
Due: eslint, prettier

renamed variable
  src/core/Progress/ProgressBar/ProgressBar.tsx
Due: eslint, prettier

change breadcrumbs
  src/core/Breadcrumbs/Breadcrumb/Breadcrumb.stories.tsx
  src/core/Breadcrumbs/Breadcrumb/Breadcrumb.tsx
  src/core/Breadcrumbs/Breadcrumb/index.ts
  src/core/Breadcrumbs/Breadcrumb/styles.ts
  src/core/Breadcrumbs/Breadcrumbs.stories.tsx
  src/core/Breadcrumbs/Breadcrumbs.tsx
  src/core/Breadcrumbs/index.ts
  src/core/Breadcrumbs/styles.ts
  src/core/Breadcrumbs/types.ts
Due: eslint, prettier

fix prettier
  src/core/Breadcrumbs/Breadcrumbs.stories.tsx
  src/core/Breadcrumbs/Breadcrumbs.tsx
  src/core/Breadcrumbs/index.ts
  src/core/Breadcrumbs/styles.ts
  src/core/Breadcrumbs/types.ts
Due: eslint, prettier

change last item
  src/core/Breadcrumbs/Breadcrumbs.tsx
  src/index.ts
Due: eslint, prettier

change storybook
  src/core/Breadcrumbs/Breadcrumbs.stories.tsx
  src/core/Breadcrumbs/Breadcrumbs.tsx
  src/core/Breadcrumbs/index.ts
  src/core/Breadcrumbs/styles.ts
  src/core/Breadcrumbs/types.ts
  src/index.ts
Due: eslint, prettier

change breadcrumbs doc
  documentation/src/content/docs/Components/Breadcrumbs/breadcrumb.md
  documentation/src/content/docs/Components/Breadcrumbs/breadcrumbs.md
  documentation/src/content/docs/Components/breadcrumbs.md
Due: prettier

fix select styles
  src/core/Select/Components/styles.ts
  src/core/Select/styles.ts
  src/core/Theme/styles/scrollbar.ts
Due: eslint, prettier

elimination of comments
  src/core/Breadcrumbs/Breadcrumbs.stories.tsx
  src/core/Breadcrumbs/Breadcrumbs.tsx
  src/core/Breadcrumbs/types.ts
Due: eslint, prettier

fix import
  src/core/Breadcrumbs/Breadcrumbs.tsx
Due: eslint, prettier

refactor modal
  documentation/src/content/docs/Components/Modals/base-modal.md
  documentation/src/content/docs/Components/Modals/info-modal.md
  documentation/src/content/docs/Components/modal.md
  src/core/Modal/BaseModal/BaseModal.stories.tsx
  src/core/Modal/BaseModal/index.tsx
  src/core/Modal/BaseModal/styles.ts
  src/core/Modal/InfoModal/InfoModal.stories.tsx
  src/core/Modal/InfoModal/InfoModal.tsx
  src/core/Modal/InfoModal/InfoModalContext.tsx
  src/core/Modal/InfoModal/ModalBody/index.tsx
  src/core/Modal/InfoModal/ModalFooter/index.tsx
  src/core/Modal/InfoModal/ModalHeader/index.tsx
  src/core/Modal/InfoModal/index.ts
  src/core/Modal/Modal.stories.tsx
  src/core/Modal/Modal.tsx
  src/core/Modal/ModalBody/index.tsx
  src/core/Modal/ModalBody/styles.ts
  src/core/Modal/ModalFooter/index.tsx
  src/core/Modal/ModalFooter/styles.ts
  src/core/Modal/ModalHeader/index.tsx
  src/core/Modal/ModalHeader/styles.ts
  src/core/Modal/index.ts
  src/core/Modal/styles.ts
  src/core/Modal/types.ts
Due: eslint, prettier

make portal optional
  src/core/Modal/types.ts
Due: eslint, prettier

change description
  documentation/src/content/docs/Components/modal.md
Due: prettier

change description
  src/core/Modal/Modal.stories.tsx
Due: eslint, prettier

add ReactNode[] to children type
  src/core/Modal/Modal.stories.tsx
  src/core/Modal/ModalFooter/index.tsx
Due: eslint, prettier

add scrollbar-gutter as global css property, rename base modal
  .storybook/withTheme.decorator.tsx
  documentation/src/content/docs/Components/modal.md
  src/core/Modal/Modal.stories.tsx
  src/core/Modal/Modal.tsx
Due: eslint, prettier

refactor modal
  .storybook/withTheme.decorator.tsx
  documentation/src/content/docs/Components/modal.md
  src/core/Modal/Components/CloseButton/index.tsx
  src/core/Modal/Components/CloseButton/styles.ts
  src/core/Modal/Components/ModalBody/index.tsx
  src/core/Modal/Components/ModalBody/styles.ts
  src/core/Modal/Components/ModalFooter/index.tsx
  src/core/Modal/Components/ModalFooter/styles.ts
  src/core/Modal/Components/ModalHeader/index.tsx
  src/core/Modal/Components/ModalHeader/styles.ts
  src/core/Modal/Modal.stories.tsx
  src/core/Modal/Modal.tsx
  src/core/Modal/styles.ts
  src/core/Modal/types.ts
Due: eslint, prettier

rename folder
  src/core/Modal/Modal.stories.tsx
  src/core/Modal/Modal.tsx
  src/core/Modal/components/CloseButton/index.tsx
  src/core/Modal/components/CloseButton/styles.ts
  src/core/Modal/components/ModalBody/index.tsx
  src/core/Modal/components/ModalBody/styles.ts
  src/core/Modal/components/ModalFooter/index.tsx
  src/core/Modal/components/ModalFooter/styles.ts
  src/core/Modal/components/ModalHeader/index.tsx
  src/core/Modal/components/ModalHeader/styles.ts
Due: eslint, prettier

fix path
  src/core/Modal/components/ModalBody/styles.ts
Due: eslint, prettier

add exports
  src/core/Modal/index.ts
Due: eslint, prettier

fix(dockerfile): experiment
  tools/jenkins/build/Dockerfile
Due: none

remove unused tabs components.
  .storybook/withTheme.decorator.tsx
  src/core/Tabs/Tab/index.tsx
  src/core/Tabs/TabButton/TabButton.stories.tsx
  src/core/Tabs/TabButton/index.tsx
  src/core/Tabs/Tabs.stories.tsx
  src/core/Tabs/Tabs.tsx
  tsconfig.json
Due: eslint, prettier

EASY-1095 Added slide animation
  src/core/Toasts/Toast/Toast.tsx
  src/core/Toasts/Toast/animation.ts
  src/core/Toasts/Toast/styles.ts
  src/core/Toasts/ToastsContainer/ToastContainer.stories.tsx
  src/core/Toasts/ToastsContainer/styles.ts
  src/core/Toasts/types.ts
Due: eslint, prettier

EASY-1095 Fixed styles
  src/core/Toasts/Toast/Toast.tsx
  src/core/Toasts/Toast/animation.ts
  src/core/Toasts/Toast/styles.ts
Due: eslint, prettier

upgrade storybook
  .storybook/YourTheme.js
  .storybook/main.cjs
  .storybook/manager.js
  .storybook/preview-head.html
  package-lock.json
  package.json
  public/favicon.ico
  public/logo_dark.svg
Due: eslint, prettier

EASY-1095 Added smoothly resize list animation
  src/core/Toasts/Toast/Toast.tsx
  src/core/Toasts/Toast/styles.ts
Due: eslint, prettier

EASY-1095 Incresed toast animation speed
  src/core/Toasts/Toast/Toast.tsx
  src/core/Toasts/Toast/animation.ts
Due: eslint, prettier

fix dockerfile try to clean dependencies installation
  tools/jenkins/build/Dockerfile
Due: none

update package-lock.json
  package-lock.json
Due: prettier

update Dockerfile
  tools/jenkins/build/Dockerfile
Due: none

add public folder to docker
  tools/jenkins/build/Dockerfile
Due: none

change staticDirs key in storybook config
  .storybook/main.cjs
Due: prettier

EASY-1095 Fixed max-height value
  src/core/Toasts/Toast/Toast.tsx
  src/core/Toasts/Toast/styles.ts
Due: eslint, prettier

fix docs
  documentation/astro.config.mjs
  documentation/public/favicon.ico
  documentation/public/favicon.svg
  documentation/src/assets/aspirity-logo-dark.svg
  documentation/src/assets/aspirity-logo.svg
  documentation/src/content/docs/Changelog/index.md
  documentation/src/content/docs/Components/Grid/index.md
  documentation/src/content/docs/Getting started/installation.md
  documentation/src/content/docs/Getting started/introduction.md
  documentation/src/content/docs/Road map/index.md
  documentation/src/content/docs/index.mdx
  documentation/src/styles/custom.css
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.*
